**/.idea/
**/.DS_Store
**/dataset/*/*
!**/dataset/*/util.py
!dataset/clone_detection/Java
!**/dataset/clone_detection/Java
**/dataset/clone_detection/Java/*
!**/dataset/clone_detection/Java/500
*.log
server.py